<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UiBenDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA47180D1CD051CA0036DCB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA4718261CD051CA0036DCB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA4718311CD051CA0036DCB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
